* {
    box-sizing: border-box;
}

#credit-card-info {
    width: 500px;
    height: 290px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 65% 10% 15%;
    gap: 15px;
}

#front-card {
    background-color: lightgray;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;

}

#back-card {
    background-color: lightgray;
    grid-column: 2/4 ;
    grid-row: 2/4;
    border-radius: 10px;
    z-index: 0;
}

button {
    grid-column: 3/4;
    grid-row: 4/5;
}

#card-front-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40% 30% 30%;
    gap: 15px;
}

#price {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

#card-number {
    grid-column: 1/3;
    grid-row: 2/3;
}

#card-number-input {
    width: 100%;
   
}

label {
    display: block;
    font-size: 1.1rem;
   
}

input {
    font-size: 1.1rem;
}

span {
    font-size: 1.1rem;
}

#card-holder {
    grid-column: 1/2;
    grid-row: 3/4;
}

#experation {
    grid-column: 2/3;
    grid-row: 3/4;
}

#experation-month {
    width: 4ch;
}

#experation-year {
    width: 4ch;
}

img {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

#back-card {
    display: grid;
    grid-template-columns: 75% 25%;
}