:root {
    --primary-color: #241909;
    --secondary-color: #DFD6A7;
    --accent-color: #0F1108;
    --heading-font: 'Courier', Monospace;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

body h1, h2 {
    font-family: var(--heading-font);
}

body p {
    font-family: var(--paragraph-font);
}



header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary-color);
    text-align: center;
}



header h1 {
    grid-row: 1/2;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    margin: 5px;
    width: 400px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 2.5rem
    
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 100px;
}

header a {
    text-decoration: none;
    color:  var(--accent-color);
}

header li {
    list-style-type: none;
    gap: 10px;
    padding: 10px;
    max-width: 960px;
    font-size: 1.2rem;
}

header nav {
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    border-top: solid var(--primary-color) 5px;
    border-bottom: solid var(--primary-color) 5px;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--secondary-color);
}

.book-filters {
    grid-column: 2/3;
    grid-row: 1;
    border: solid 5px var(--primary-color);
    margin: 5px;
    margin-right: 50px;
}

.book-filters p {
    background-color: var(--secondary-color);
    margin: 10px;
    border-radius: 5px;
    
}

.book-entry {
    grid-column: 1 / 2;
    display: flex;
    gap: 1rem;
    background-color: var(--secondary-color);
    margin: 10px;
}

.book-display {
    flex: 2;
}

.book-display img {
    display: block;
    max-width: 350px;
    margin: 0 auto;

}

.book-display h2 {
    text-align: left;
    font-size: 2rem;
}



.book-info {
    flex: 1;
    border-right: solid var(--primary-color);
    margin: 5px;
    text-align: right;
}

.book-info h1, h2 {
    background-color: var(--secondary-color);
    margin: 10px;
    border-radius: 5px;
}

.skiptocontent a {
	position: absolute;
    top: -40px;
	left: 0;
    color: white;
    font-weight: bold;
	background-color: red;
}
.skiptocontent a:focus {
	top:0
}